In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:

titles = pd.read_csv('data/titles.csv')
titles.head()

                          title  year
0             Good Neighbor Sam  1964
1                       11 x 14  1977
2  Santa Paws 2: The Santa Pups  2012
3                  The Dictator  1922
4                   Con el alma  1995

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [ ]:
len(titles)

### What are the earliest two films listed in the titles dataframe?

In [ ]:
t = titles.sort_values('year').reset_index()
t.title[0:2]

### How many movies have the title "Hamlet"?

In [ ]:
t = titles[titles.title == "Hamlet"]
len(t)

### How many movies are titled "North by Northwest"?

In [ ]:
t = titles[titles.title == "North by Northwest"]
len(t)

### When was the first movie titled "Hamlet" made?

In [ ]:
h = titles[titles.title == "Hamlet"]
h = h.sort_values('year').reset_index()
h.year[0]

### List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
tr = titles[titles.title == "Treasure Island"]
tr = tr.sort_values('year').reset_index()
tr

### How many movies were made in the year 1950?

In [ ]:
yr = titles[titles.year == 1950]
len(yr)

### How many movies were made in the year 1960?

In [ ]:
yr = titles[titles.year == 1960]
len(yr)

### How many movies were made from 1950 through 1959?

In [ ]:
yr = titles[(titles.year >= 1950) & (titles.year <= 1959)]
len(yr)

### In what years has a movie titled "Batman" been released?

In [ ]:
bt = titles[titles.title == "Batman"]
bt.year

### How many roles were there in the movie "Inception"?

In [ ]:
cast.head()

In [ ]:
inc = cast[cast.title == 'Inception']
len(inc.character)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
inc_n_nan_count = inc.n.isna().sum()
inc_n_nan_count

### But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
len(inc.character) - inc_n_nan_count

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
nbw_cast = cast[cast.title == 'North by Northwest']
nbw_cast = nbw_cast.dropna()
nbw_cast.sort_values('n').reset_index()

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [ ]:
sleuth_cast = cast[(cast.title == "Sleuth") & (cast.year == 1972)]
sleuth_cast.sort_values('n').reset_index()

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
sleuth_cast = cast[(cast.title == "Sleuth") & (cast.year == 2007)]
sleuth_cast.sort_values('n').reset_index()

### How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
ham = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
len(ham)

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [ ]:
ham = cast[(cast.title == 'Hamlet') & (cast.year == 1996)]
len(ham)

### How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
ham = cast[cast.title == 'Hamlet']
len(ham)

### How many people have played an "Ophelia"?

In [ ]:
ophe = cast[cast.title == 'Ophelia']
len(ophe)

### How many people have played a role called "The Dude"?

In [ ]:
dude = cast[cast.character == 'The Dude']
len(dude)

### How many people have played a role called "The Stranger"?

In [ ]:
stranger = cast[cast.character == 'The Stranger']
len(stranger)

### How many roles has Sidney Poitier played throughout his career?

In [ ]:
sidney = cast[cast.name == 'Sidney Poitier']
len(sidney)

### How many roles has Judi Dench played?

In [ ]:
judi  = cast[cast.name == 'Judi Dench']
len(judi)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
cary = cast[cast.name == 'Cary Grant']
cary = cary[cary.n == 2.0]
cary = cary[(cary.year >= 1940) & (cary.year <= 1949)]
cary.sort_values('year').reset_index()

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [ ]:
cary = cast[cast.name == 'Cary Grant']
cary = cary[cary.n == 1.0]
cary = cary[(cary.year >= 1940) & (cary.year <= 1949)]
cary.sort_values('year').reset_index()

### How many roles were available for actors in the 1950s?

In [ ]:
yr = cast[(cast.year >= 1950) & (cast.year <= 1959)]
len(yr)

### How many roles were available for actresses in the 1950s?

In [ ]:
yr = cast[(cast.year >= 1950) & (cast.year <= 1959)]
yr = yr[yr.type == 'actress']
len(yr)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
yrs = cast[cast.year <= 1980]
yrs2 = yrs[yrs.n == 1.0]
len(yrs2)

### How many non- leading roles were available through from the beginning of film history through 1980?

In [ ]:
yrs2 = yrs[(yrs.n != 1.0) & (yrs.n != np.nan)]
len(yrs2)

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [ ]:
yrs2 = yrs[yrs.n.isna()]
len(yrs2)