In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                          title  year
0                 A Lélek órása  1923
1  Aizaugusa gravi viegli krist  1986
2                     Agliyorum  1988
3                         0_1_0  2008
4              97 fung lau mung  1994

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [ ]:
c = cast
sb = c[(c.character == 'Superman') | (c.character == 'Batman')]
sb.head()

In [ ]:
sb = sb.groupby(['year', 'character']).size()
sb = sb.unstack('character').fillna(0)
sb = sb['Superman'] - sb['Batman']
len(sb[sb >= 1])

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [ ]:
c = cast
sb = c[(c.character == 'Superman') | (c.character == 'Batman')]
sb.head()

In [ ]:
sb = sb.groupby(['year', 'character']).size()
sb = sb.unstack('character').fillna(0)
sb = sb['Superman'] - sb['Batman']
len(sb[sb <= 1])

### Plot the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the number of actor roles each year and the number of actress roles each year, but this time as a kind='area' plot.

In [ ]:
c = cast
c = c.groupby(['year', 'type']).size()
c.head()

In [ ]:
c = c.unstack('type')
c.plot(kind='area')

### Plot the difference between the number of actor roles each year and the
number of actress roles each year over the history of film.

### Plot the fraction of roles that have been 'actor' roles each year in the
history of film.

### Plot the fraction of supporting (n=2) roles that have been 'actor' roles
each year in the history of film.

### Build a plot with a line for each rank n=1 through n=3, where the line shows what fraction of that rank's roles were 'actor' roles for each year in the history of film.

In [ ]:
c = cast
isRank1to3 = (c.n >= 1) & (c.n <= 3)
c = c[isRank1to3]
c = c.groupby(['year', 'n', 'type']).character.size()
c.head()

In [ ]:
c = c.unstack('type')
c.head()

In [ ]:
c = c.actor / (c.actor + c.actress)
c.head()

In [ ]:
c = c.unstack('n')
c.plot()